.dirt-1-0 {
  fill: #6E9545; }

.dirt-1-1 {
  fill: #6B4C38; }

.dirt-1-2 {
  fill: #6DA045; }

.dirt-1-3 {
  fill: #78AB4B; }

.dirt-1-4 {
  fill: #9D7155; }

.dirt-1-5 {
  fill: #603F2C; }

.dirt-1-6 {
  fill: #CD986C; }

.dirt-1-7 {
  fill: #674C36; }

.dirt-1-8 {
  fill: #87644E; }

.dirt-1-9 {
  fill: #79AF45; }

.dirt-1-10 {
  fill: #6C9E3C; }

.dirt-1-11 {
  fill: #896F4D; }

.dirt-1-12 {
  fill: #775745; }

.dirt-1-13 {
  fill: #7F5A45; }

.dirt-1-14 {
  fill: #4B3727; }

.dirt-1-15 {
  fill: #5B4335; }

.dirt-1-16 {
  fill: #815D46; }

.dirt-1-17 {
  fill: #B1835D; }

.dirt-1-18 {
  fill: #6B4F3E; }

.dirt-1-19 {
  fill: #68412C; }

.dirt-1-20 {
  fill: #4F3829; }

.dirt-1-21 {
  fill: #6D583D; }

.dirt-1-22 {
  fill: #442D1F; }

.dirt-2-0 {
  fill: #6E9545; }

.dirt-2-1 {
  fill: #6B4C38; }

.dirt-2-2 {
  fill: #674C36; }

.dirt-2-3 {
  fill: #775745; }

.dirt-2-4 {
  fill: #9D7155; }

.dirt-2-5 {
  fill: #CD986C; }

.dirt-2-6 {
  fill: #6DA045; }

.dirt-2-7 {
  fill: #78AB4B; }

.dirt-2-8 {
  fill: #603F2C; }

.dirt-2-9 {
  fill: #87644E; }

.dirt-2-10 {
  fill: #79AF45; }

.dirt-2-11 {
  fill: #6C9E3C; }

.dirt-2-12 {
  fill: #896F4D; }

.dirt-2-13 {
  fill: #7F5A45; }

.dirt-2-14 {
  fill: #815D46; }

.dirt-2-15 {
  fill: #68412C; }

.dirt-3-0 {
  fill: #6E9545; }

.dirt-3-1 {
  fill: #6B4C38; }

.dirt-3-2 {
  fill: #674C36; }

.dirt-3-3 {
  fill: #775745; }

.dirt-3-4 {
  fill: #9D7155; }

.dirt-3-5 {
  fill: #CD986C; }

.dirt-3-6 {
  fill: #6DA045; }

.dirt-3-7 {
  fill: #78AB4B; }

.dirt-3-8 {
  fill: #603F2C; }

.dirt-3-9 {
  fill: #87644E; }

.dirt-3-10 {
  fill: #79AF45; }

.dirt-3-11 {
  fill: #6C9E3C; }

.dirt-3-12 {
  fill: #896F4D; }

.dirt-3-13 {
  fill: #845338; }

.dirt-3-14 {
  fill: #7F5A45; }

.dirt-4-0 {
  fill: #6E9545; }

.dirt-4-1 {
  fill: #6B4C38; }

.dirt-4-2 {
  fill: #674C36; }

.dirt-4-3 {
  fill: #775745; }

.dirt-4-4 {
  fill: #9D7155; }

.dirt-4-5 {
  fill: #CD986C; }

.dirt-4-6 {
  fill: #6DA045; }

.dirt-4-7 {
  fill: #78AB4B; }

.dirt-4-8 {
  fill: #87644E; }

.dirt-4-9 {
  fill: #896F4D; }

.dirt-4-10 {
  fill: #603F2C; }

.dirt-4-11 {
  fill: #79AF45; }

.dirt-4-12 {
  fill: #6C9E3C; }

.dirt-4-13 {
  fill: #845338; }

.dirt-4-14 {
  fill: #7F5A45; }

.dirt-5-0 {
  fill: #9D7155; }

.dirt-5-1 {
  fill: #CD986C; }

.dirt-5-2 {
  fill: #87644E; }

.dirt-5-3 {
  fill: #845338; }

.dirt-5-4 {
  fill: #6B4C38; }

.dirt-5-5 {
  fill: #896F4D; }

.dirt-5-6 {
  fill: #603F2C; }

.dirt-5-7 {
  fill: #674C36; }

.dirt-5-8 {
  fill: #6E9545; }

.dirt-5-9 {
  fill: #775745; }

.dirt-5-10 {
  fill: #6DA045; }

.dirt-5-11 {
  fill: #78AB4B; }

.dirt-5-12 {
  fill: #79AF45; }

.dirt-5-13 {
  fill: #6C9E3C; }

.dirt-5-14 {
  fill: #7F5A45; }

.dirt-5-15 {
  fill: #815D46; }

.dirt-5-16 {
  fill: #442D1F; }

.dirt-5-17 {
  fill: #4B3727; }

.dirt-6-0 {
  fill: #775745; }

.dirt-6-1 {
  fill: #9D7155; }

.dirt-6-2 {
  fill: #CD986C; }

.dirt-6-3 {
  fill: #674C36; }

.dirt-6-4 {
  fill: #87644E; }

.dirt-6-5 {
  fill: #6E9545; }

.dirt-6-6 {
  fill: #6B4C38; }

.dirt-6-7 {
  fill: #6DA045; }

.dirt-6-8 {
  fill: #78AB4B; }

.dirt-6-9 {
  fill: #603F2C; }

.dirt-6-10 {
  fill: #79AF45; }

.dirt-6-11 {
  fill: #6C9E3C; }

.dirt-6-12 {
  fill: #896F4D; }

.dirt-6-13 {
  fill: #815D46; }

.dirt-6-14 {
  fill: #6B4F3E; }

.dirt-6-15 {
  fill: #B1835D; }

.dirt-6-16 {
  fill: #68412C; }

.dirt-6-17 {
  fill: #4F3829; }

.dirt-6-18 {
  fill: #6D583D; }

.dirt-6-19 {
  fill: #5B4335; }

.dirt-6-20 {
  fill: #442D1F; }

.dirt-6-21 {
  fill: #634636; }

.dirt-6-22 {
  fill: #4B3727; }

.dirt-7-0 {
  fill: #9D7155; }

.dirt-7-1 {
  fill: #896F4D; }

.dirt-7-2 {
  fill: #87644E; }

.dirt-7-3 {
  fill: #674C36; }

.dirt-7-4 {
  fill: #603F2C; }

.dirt-7-5 {
  fill: #CD986C; }

.dirt-7-6 {
  fill: #6B4C38; }

.dirt-7-7 {
  fill: #775745; }

.dirt-7-8 {
  fill: #7F5A45; }

.dirt-7-9 {
  fill: #5B4335; }

.dirt-7-10 {
  fill: #815D46; }

.dirt-7-11 {
  fill: #B1835D; }

.dirt-7-12 {
  fill: #4B3727; }

.dirt-7-13 {
  fill: #6B4F3E; }

.dirt-7-14 {
  fill: #4F3829; }

.dirt-7-15 {
  fill: #68412C; }

.dirt-7-16 {
  fill: #6D583D; }

.dirt-7-17 {
  fill: #B0754E; }

.dirt-7-18 {
  fill: #442D1F; }

.dirt-7-19 {
  fill: #634636; }

.dirt-8-0 {
  fill: #775745; }

.dirt-8-1 {
  fill: #9D7155; }

.dirt-8-2 {
  fill: #CD986C; }

.dirt-8-3 {
  fill: #87644E; }

.dirt-8-4 {
  fill: #6B4C38; }

.dirt-8-5 {
  fill: #896F4D; }

.dirt-8-6 {
  fill: #674C36; }

.dirt-8-7 {
  fill: #603F2C; }

.dirt-8-8 {
  fill: #7F5A45; }

.dirt-8-9 {
  fill: #5B4335; }

.dirt-8-10 {
  fill: #815D46; }

.dirt-8-11 {
  fill: #B1835D; }

.dirt-8-12 {
  fill: #4B3727; }

.dirt-8-13 {
  fill: #6B4F3E; }

.dirt-8-14 {
  fill: #4F3829; }

.dirt-8-15 {
  fill: #68412C; }

.dirt-8-16 {
  fill: #6D583D; }

.dirt-8-17 {
  fill: #B0754E; }

.dirt-8-18 {
  fill: #442D1F; }

.dirt-8-19 {
  fill: #634636; }

.dirt-9-0 {
  fill: #775745; }

.dirt-9-1 {
  fill: #9D7155; }

.dirt-9-2 {
  fill: #CD986C; }

.dirt-9-3 {
  fill: #87644E; }

.dirt-9-4 {
  fill: #6B4C38; }

.dirt-9-5 {
  fill: #674C36; }

.dirt-9-6 {
  fill: #896F4D; }

.dirt-9-7 {
  fill: #7F5A45; }

.dirt-9-8 {
  fill: #5B4335; }

.dirt-9-9 {
  fill: #815D46; }

.dirt-9-10 {
  fill: #B1835D; }

.dirt-9-11 {
  fill: #4B3727; }

.dirt-9-12 {
  fill: #6B4F3E; }

.dirt-9-13 {
  fill: #4F3829; }

.dirt-9-14 {
  fill: #68412C; }

.dirt-9-15 {
  fill: #6D583D; }

.dirt-9-16 {
  fill: #6C7D81; }

.dirt-9-17 {
  fill: #442D1F; }

.dirt-9-18 {
  fill: #B0754E; }

.dirt-9-19 {
  fill: #634636; }

.dirt-10-0 {
  fill: #6B4C38; }

.dirt-10-1 {
  fill: #674C36; }

.dirt-10-2 {
  fill: #775745; }

.dirt-10-3 {
  fill: #9D7155; }

.dirt-10-4 {
  fill: #CD986C; }

.dirt-10-5 {
  fill: #87644E; }

.dirt-10-6 {
  fill: #896F4D; }

.dirt-10-7 {
  fill: #603F2C; }

.dirt-10-8 {
  fill: #5B4335; }

.dirt-10-9 {
  fill: #815D46; }

.dirt-10-10 {
  fill: #B1835D; }

.dirt-10-11 {
  fill: #4B3727; }

.dirt-10-12 {
  fill: #6B4F3E; }

.dirt-10-13 {
  fill: #4F3829; }

.dirt-10-14 {
  fill: #68412C; }

.dirt-10-15 {
  fill: #6D583D; }

.dirt-10-16 {
  fill: #B0754E; }

.dirt-10-17 {
  fill: #442D1F; }

.dirt-10-18 {
  fill: #634636; }

.wood-1-0 {
  fill: #3A2D1A; }

.wood-1-1 {
  fill: #41351F; }

.wood-1-2 {
  fill: #3B2F17; }

.wood-1-3 {
  fill: #3E311E; }

.wood-1-4 {
  fill: #453825; }

.wood-1-5 {
  fill: #6B5432; }

.wood-1-6 {
  fill: #64502D; }

.wood-1-7 {
  fill: #6E5A39; }

.wood-1-8 {
  fill: #3D331A; }

.wood-1-9 {
  fill: #6A5635; }

.wood-1-10 {
  fill: #9A7A4B; }

.wood-1-11 {
  fill: #403320; }

.wood-1-12 {
  fill: #9A774D; }

.wood-1-13 {
  fill: #3F331D; }

.wood-1-14 {
  fill: #705C3B; }

.wood-1-15 {
  fill: #957346; }

.wood-1-16 {
  fill: #413421; }

.wood-1-17 {
  fill: #695532; }

.wood-1-18 {
  fill: #433323; }

.wood-1-19 {
  fill: #927144; }

.wood-1-20 {
  fill: #6D5938; }

.wood-1-21 {
  fill: #3F3221; }

.wood-1-22 {
  fill: #382B18; }

.wood-1-23 {
  fill: #6A5536; }

.wood-1-24 {
  fill: #695534; }

.wood-1-25 {
  fill: #987A46; }

.wood-1-26 {
  fill: #6D5634; }

.wood-1-27 {
  fill: #9B7B4A; }

.wood-1-28 {
  fill: #3F2F1F; }

.wood-1-29 {
  fill: #9B7949; }

.wood-1-30 {
  fill: #6B5736; }

.wood-1-31 {
  fill: #463926; }

.wood-1-32 {
  fill: #675332; }

.wood-1-33 {
  fill: #967645; }

.wood-1-34 {
  fill: #423522; }

.wood-1-35 {
  fill: #7C623F; }

.wood-1-36 {
  fill: #40341E; }

.wood-1-37 {
  fill: #3A2D1C; }

.wood-1-38 {
  fill: #6E5B3B; }

.wood-1-39 {
  fill: #9A7A49; }

.wood-1-40 {
  fill: #392C1B; }

.wood-1-41 {
  fill: #665231; }

.wood-1-42 {
  fill: #6A5737; }

.wood-1-43 {
  fill: #5F4B30; }

.wood-1-44 {
  fill: #6C5837; }

.wood-1-45 {
  fill: #685433; }

.wood-1-46 {
  fill: #7C623D; }

.wood-1-47 {
  fill: #4C3D28; }

.wood-1-48 {
  fill: #967844; }

.wood-1-49 {
  fill: #403322; }

.wood-2-0 {
  fill: #3A2D1A; }

.wood-2-1 {
  fill: #41351F; }

.wood-2-2 {
  fill: #3B2F17; }

.wood-2-3 {
  fill: #3E311E; }

.wood-2-4 {
  fill: #453825; }

.wood-2-5 {
  fill: #6B5432; }

.wood-2-6 {
  fill: #6E5A39; }

.wood-2-7 {
  fill: #3D331A; }

.wood-2-8 {
  fill: #6A5635; }

.wood-2-9 {
  fill: #9A7A4B; }

.wood-2-10 {
  fill: #927144; }

.wood-2-11 {
  fill: #6D5938; }

.wood-2-12 {
  fill: #3F3221; }

.wood-2-13 {
  fill: #382B18; }

.wood-2-14 {
  fill: #9A774D; }

.wood-2-15 {
  fill: #7C623F; }

.wood-2-16 {
  fill: #40341E; }

.wood-2-17 {
  fill: #675332; }

.wood-2-18 {
  fill: #382D19; }

.wood-2-19 {
  fill: #3F321E; }

.wood-2-20 {
  fill: #14100A; }

.wood-2-21 {
  fill: #6E5537; }

.wood-2-22 {
  fill: #131009; }

.wood-2-23 {
  fill: #443824; }

.wood-2-24 {
  fill: #695131; }

.wood-2-25 {
  fill: #15110B; }

.wood-2-26 {
  fill: #3D321D; }

.wood-2-27 {
  fill: #17120C; }

.wood-2-28 {
  fill: #3E3220; }

.wood-2-29 {
  fill: #3D321E; }

.wood-2-30 {
  fill: #6C5732; }

.wood-2-31 {
  fill: #6E5736; }

.wood-2-32 {
  fill: #120E09; }

.wood-2-33 {
  fill: #41341F; }

.wood-2-34 {
  fill: #6F5835; }

.wood-2-35 {
  fill: #130E0A; }

.wood-2-36 {
  fill: #6F5734; }

.wood-2-37 {
  fill: #3F3320; }

.wood-2-38 {
  fill: #1A150E; }

.wood-2-39 {
  fill: #3B301D; }

.wood-2-40 {
  fill: #413522; }

.wood-2-41 {
  fill: #6A5431; }

.wood-2-42 {
  fill: #16120C; }

.wood-2-43 {
  fill: #0E0B07; }

.wood-2-44 {
  fill: #3F331D; }

.wood-2-45 {
  fill: #6E5B3B; }

.wood-2-46 {
  fill: #9A7A49; }

.wood-2-47 {
  fill: #423522; }

.wood-2-48 {
  fill: #392C1B; }

.wood-2-49 {
  fill: #665231; }

.wood-2-50 {
  fill: #6A5737; }

.wood-2-51 {
  fill: #3A2D1C; }

.wood-2-52 {
  fill: #5F4B30; }

.wood-2-53 {
  fill: #6C5837; }

.wood-2-54 {
  fill: #685433; }

.wood-2-55 {
  fill: #7C623D; }

.wood-2-56 {
  fill: #4C3D28; }

.wood-2-57 {
  fill: #967844; }

.wood-2-58 {
  fill: #403322; }

.wood-2-59 {
  fill: #6B5736; }

.leaf-1-0 {
  fill: #235415; }

.leaf-1-1 {
  fill: #245616; }

.leaf-1-2 {
  fill: #255717; }

.leaf-1-3 {
  fill: #48AA2C; }

.leaf-1-4 {
  fill: #2B661A; }

.leaf-1-5 {
  fill: #3C8D25; }

.leaf-1-6 {
  fill: #409229; }

.leaf-1-7 {
  fill: #17370E; }

.leaf-1-8 {
  fill: #43982B; }

.leaf-1-9 {
  fill: #3F8C29; }

.leaf-1-10 {
  fill: #0C2106; }

.leaf-1-11 {
  fill: #0E2507; }

.leaf-1-12 {
  fill: #409129; }

.leaf-1-13 {
  fill: #46A62B; }

.leaf-1-14 {
  fill: #3B8924; }

.leaf-1-15 {
  fill: #193F0E; }

.leaf-1-16 {
  fill: #41932A; }

.leaf-1-17 {
  fill: #142E0B; }

.leaf-1-18 {
  fill: #0E2607; }

.leaf-1-19 {
  fill: #3E8C28; }

.leaf-1-20 {
  fill: #14320B; }

.leaf-1-21 {
  fill: #112D09; }

.leaf-1-22 {
  fill: #3D8E26; }

.leaf-1-23 {
  fill: #3F9427; }

.leaf-1-24 {
  fill: #4AAA2F; }

.leaf-1-25 {
  fill: #3E8F27; }

.leaf-1-26 {
  fill: #2E6A1D; }

.leaf-1-27 {
  fill: #0A1A05; }

.leaf-1-28 {
  fill: #4BAF2E; }

.leaf-1-29 {
  fill: #3B8925; }

.leaf-1-30 {
  fill: #419828; }

.leaf-1-31 {
  fill: #204E13; }

.leaf-1-32 {
  fill: #3A8624; }

.leaf-1-33 {
  fill: #16380C; }

.leaf-1-34 {
  fill: #235515; }

.leaf-1-35 {
  fill: #3F9326; }

.leaf-1-36 {
  fill: #0E2707; }

.leaf-1-37 {
  fill: #48A82D; }

.leaf-1-38 {
  fill: #2A6619; }

.leaf-1-39 {
  fill: #245316; }

.leaf-1-40 {
  fill: #51BB33; }

.leaf-1-41 {
  fill: #47A72C; }

.leaf-1-42 {
  fill: #0D2506; }

.leaf-1-43 {
  fill: #3C8A26; }

.leaf-1-44 {
  fill: #245217; }

.leaf-1-45 {
  fill: #4DB130; }

.leaf-1-46 {
  fill: #235315; }

.leaf-1-47 {
  fill: #49A92E; }

.leaf-1-48 {
  fill: #3E8F26; }

.leaf-2-0 {
  fill: #409229; }

.leaf-2-1 {
  fill: #255717; }

.leaf-2-2 {
  fill: #48AA2C; }

.leaf-2-3 {
  fill: #2B661A; }

.leaf-2-4 {
  fill: #3C8D25; }

.leaf-2-5 {
  fill: #43982B; }

.leaf-2-6 {
  fill: #3F8C29; }

.leaf-2-7 {
  fill: #3A8624; }

.leaf-2-8 {
  fill: #3E8F27; }

.leaf-2-9 {
  fill: #46A62B; }

.leaf-2-10 {
  fill: #3B8924; }

.leaf-2-11 {
  fill: #193F0E; }

.leaf-2-12 {
  fill: #41932A; }

.leaf-2-13 {
  fill: #060D03; }

.leaf-2-14 {
  fill: #132D0C; }

.leaf-2-15 {
  fill: #010301; }

.leaf-2-16 {
  fill: #2B611C; }

.leaf-2-17 {
  fill: #14320B; }

.leaf-2-18 {
  fill: #112D09; }

.leaf-2-19 {
  fill: #3D8E26; }

.leaf-2-20 {
  fill: #3F9427; }

.leaf-2-21 {
  fill: #4AAA2F; }

.leaf-2-22 {
  fill: #2E6A1D; }

.leaf-2-23 {
  fill: #0A1A05; }

.leaf-2-24 {
  fill: #4BAF2E; }

.leaf-2-25 {
  fill: #3B8925; }

.leaf-2-26 {
  fill: #142E0B; }

.leaf-2-27 {
  fill: #0E2507; }

.leaf-2-28 {
  fill: #419828; }

.leaf-2-29 {
  fill: #204E13; }

.leaf-2-30 {
  fill: #3E8C28; }

.leaf-2-31 {
  fill: #409129; }

.leaf-2-32 {
  fill: #16380C; }

.leaf-2-33 {
  fill: #235515; }

.leaf-2-34 {
  fill: #3F9326; }

.leaf-2-35 {
  fill: #0E2707; }

.leaf-2-36 {
  fill: #48A82D; }

.leaf-2-37 {
  fill: #2A6619; }

.leaf-2-38 {
  fill: #245316; }

.leaf-2-39 {
  fill: #51BB33; }

.leaf-2-40 {
  fill: #47A72C; }

.leaf-2-41 {
  fill: #0D2506; }

.leaf-2-42 {
  fill: #3C8A26; }

.leaf-2-43 {
  fill: #245217; }

.leaf-2-44 {
  fill: #4DB130; }

.leaf-2-45 {
  fill: #235315; }

.leaf-2-46 {
  fill: #49A92E; }

.leaf-2-47 {
  fill: #3E8F26; }

.leaf-3-0 {
  fill: #3C8D25; }

.leaf-3-1 {
  fill: #409229; }

.leaf-3-2 {
  fill: #46A62B; }

.leaf-3-3 {
  fill: #0E2507; }

.leaf-3-4 {
  fill: #3F8C29; }

.leaf-3-5 {
  fill: #3B8924; }

.leaf-3-6 {
  fill: #193F0E; }

.leaf-3-7 {
  fill: #41932A; }

.leaf-3-8 {
  fill: #3F9427; }

.leaf-3-9 {
  fill: #112D09; }

.leaf-3-10 {
  fill: #48AA2C; }

.leaf-3-11 {
  fill: #3D8E26; }

.leaf-3-12 {
  fill: #4AAA2F; }

.leaf-3-13 {
  fill: #3E8F27; }

.leaf-3-14 {
  fill: #2E6A1D; }

.leaf-3-15 {
  fill: #0A1A05; }

.leaf-3-16 {
  fill: #4BAF2E; }

.leaf-3-17 {
  fill: #3B8925; }

.leaf-3-18 {
  fill: #419828; }

.leaf-3-19 {
  fill: #204E13; }

.leaf-3-20 {
  fill: #3E8C28; }

.leaf-3-21 {
  fill: #409129; }

.leaf-3-22 {
  fill: #3A8624; }

.leaf-3-23 {
  fill: #235515; }

.leaf-3-24 {
  fill: #43982B; }

.leaf-3-25 {
  fill: #3F9326; }

.leaf-3-26 {
  fill: #11290A; }

.leaf-3-27 {
  fill: #122B0B; }

.leaf-3-28 {
  fill: #132C0C; }

.leaf-3-29 {
  fill: #367F21; }

.leaf-3-30 {
  fill: #193B0F; }

.leaf-3-31 {
  fill: #060D03; }

.leaf-3-32 {
  fill: #306D1F; }

.leaf-3-33 {
  fill: #2C611C; }

.leaf-3-34 {
  fill: #010301; }

.leaf-3-35 {
  fill: #2B611C; }

.leaf-3-36 {
  fill: #040A02; }

.leaf-3-37 {
  fill: #060E03; }

.leaf-3-38 {
  fill: #010401; }

.leaf-3-39 {
  fill: #0E2308; }

.leaf-3-40 {
  fill: #357D21; }

.leaf-3-41 {
  fill: #183B0E; }

.leaf-3-42 {
  fill: #275B18; }

.leaf-3-43 {
  fill: #11280B; }

.leaf-3-44 {
  fill: #3E9027; }

.leaf-3-45 {
  fill: #357C21; }

.leaf-3-46 {
  fill: #2C681B; }

.leaf-3-47 {
  fill: #010200; }

.leaf-3-48 {
  fill: #295F1A; }

.leaf-3-49 {
  fill: #11270B; }

.leaf-3-50 {
  fill: #11280A; }

.leaf-3-51 {
  fill: #367E22; }

.leaf-3-52 {
  fill: #2B641B; }

.leaf-3-53 {
  fill: #285E19; }

.leaf-4-0 {
  fill: #48AA2C; }

.leaf-4-1 {
  fill: #2B661A; }

.leaf-4-2 {
  fill: #3C8D25; }

.leaf-4-3 {
  fill: #409229; }

.leaf-4-4 {
  fill: #3F8C29; }

.leaf-4-5 {
  fill: #4AAA2F; }

.leaf-4-6 {
  fill: #204E13; }

.leaf-4-7 {
  fill: #0E2707; }

.leaf-4-8 {
  fill: #46A62B; }

.leaf-4-9 {
  fill: #3B8924; }

.leaf-4-10 {
  fill: #193F0E; }

.leaf-4-11 {
  fill: #41932A; }

.leaf-4-12 {
  fill: #409129; }

.leaf-4-13 {
  fill: #112D09; }

.leaf-4-14 {
  fill: #3D8E26; }

.leaf-4-15 {
  fill: #3F9427; }

.leaf-4-16 {
  fill: #3E8F27; }

.leaf-4-17 {
  fill: #2E6A1D; }

.leaf-4-18 {
  fill: #0A1A05; }

.leaf-4-19 {
  fill: #4BAF2E; }

.leaf-4-20 {
  fill: #3B8925; }

.leaf-4-21 {
  fill: #419828; }

.leaf-4-22 {
  fill: #3E8C28; }

.leaf-4-23 {
  fill: #3A8624; }

.leaf-4-24 {
  fill: #16380C; }

.leaf-4-25 {
  fill: #235515; }

.leaf-4-26 {
  fill: #43982B; }

.leaf-4-27 {
  fill: #3F9326; }

.leaf-4-28 {
  fill: #48A82D; }

.leaf-4-29 {
  fill: #2A6619; }

.leaf-4-30 {
  fill: #275B18; }

.leaf-4-31 {
  fill: #367F21; }

.leaf-4-32 {
  fill: #060D03; }

.leaf-4-33 {
  fill: #132D0C; }

.leaf-4-34 {
  fill: #306D1F; }

.leaf-4-35 {
  fill: #010301; }

.leaf-4-36 {
  fill: #2B611C; }

.leaf-4-37 {
  fill: #040A02; }

.leaf-4-38 {
  fill: #183B0E; }

.leaf-4-39 {
  fill: #11280B; }

.leaf-4-40 {
  fill: #3E9027; }

.leaf-4-41 {
  fill: #357C21; }

.leaf-4-42 {
  fill: #2C681B; }

.leaf-4-43 {
  fill: #010200; }

.leaf-4-44 {
  fill: #295F1A; }

.leaf-4-45 {
  fill: #11270B; }

.leaf-4-46 {
  fill: #11280A; }

.leaf-4-47 {
  fill: #0E2308; }

.leaf-4-48 {
  fill: #367E22; }

.leaf-4-49 {
  fill: #2B641B; }

.leaf-4-50 {
  fill: #285E19; }

.leaf-5-0 {
  fill: #48AA2C; }

.leaf-5-1 {
  fill: #2B661A; }

.leaf-5-2 {
  fill: #3C8D25; }

.leaf-5-3 {
  fill: #0E2507; }

.leaf-5-4 {
  fill: #0E2707; }

.leaf-5-5 {
  fill: #46A62B; }

.leaf-5-6 {
  fill: #3B8924; }

.leaf-5-7 {
  fill: #3F8C29; }

.leaf-5-8 {
  fill: #3E8F27; }

.leaf-5-9 {
  fill: #2E6A1D; }

.leaf-5-10 {
  fill: #0A1A05; }

.leaf-5-11 {
  fill: #3B8925; }

.leaf-5-12 {
  fill: #409229; }

.leaf-5-13 {
  fill: #419828; }

.leaf-5-14 {
  fill: #204E13; }

.leaf-5-15 {
  fill: #3E8C28; }

.leaf-5-16 {
  fill: #16380C; }

.leaf-5-17 {
  fill: #235515; }

.leaf-5-18 {
  fill: #43982B; }

.leaf-5-19 {
  fill: #11290A; }

.leaf-5-20 {
  fill: #122B0B; }

.leaf-5-21 {
  fill: #132C0C; }

.leaf-5-22 {
  fill: #2D671D; }

.leaf-5-23 {
  fill: #060D03; }

.leaf-5-24 {
  fill: #132D0C; }

.leaf-5-25 {
  fill: #306D1F; }

.leaf-5-26 {
  fill: #2C611C; }

.leaf-5-27 {
  fill: #081404; }

.leaf-5-28 {
  fill: #2E681E; }

.leaf-5-29 {
  fill: #071004; }

.leaf-5-30 {
  fill: #010301; }

.leaf-5-31 {
  fill: #2B611C; }

.leaf-5-32 {
  fill: #285E19; }

.leaf-5-33 {
  fill: #367F21; }

.leaf-5-34 {
  fill: #2A631A; }

.leaf-5-35 {
  fill: #2D691C; }

.leaf-5-36 {
  fill: #377F23; }

.leaf-5-37 {
  fill: #388423; }

.leaf-5-38 {
  fill: #2D661D; }

.leaf-5-39 {
  fill: #275B18; }

.leaf-5-40 {
  fill: #0E2308; }

.leaf-5-41 {
  fill: #2C681B; }

.leaf-5-42 {
  fill: #357D21; }

.leaf-5-43 {
  fill: #183B0E; }

.leaf-5-44 {
  fill: #11280B; }

.leaf-5-45 {
  fill: #3E9027; }

.leaf-5-46 {
  fill: #357C21; }

.leaf-5-47 {
  fill: #010200; }

.leaf-5-48 {
  fill: #295F1A; }

.leaf-5-49 {
  fill: #11270B; }

.leaf-5-50 {
  fill: #3A8624; }

.leaf-5-51 {
  fill: #11280A; }

.leaf-5-52 {
  fill: #367E22; }

.leaf-5-53 {
  fill: #2B641B; }

@-webkit-keyframes cloud-animation {
  to {
    top: 4px; } }

@keyframes cloud-animation {
  to {
    top: 4px; } }

@-webkit-keyframes star-animation {
  to {
    -webkit-filter: brightness(1200%);
    filter: brightness(1200%); } }

@keyframes star-animation {
  to {
    -webkit-filter: brightness(1200%);
    filter: brightness(1200%); } }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:root {
  --sky-blue: #00b1e8;
  --sky-night: #201e23; }

@font-face {
  font-family: minecraft;
  src: url("../../font/minecraft-regular.otf"); }

body {
  margin: 0;
  background-color: var(--sky-blue);
  font-family: minecraft;
  color: white;
  overflow: hidden; }

h2, p {
  margin: 0; }

main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: .4fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

#info {
  z-index: 2;
  -ms-flex-item-align: center;
  align-self: center;
  text-align: center;
  font-size: 2.5em;
  text-shadow: 0.1em 0.1em 0 var(--sky-night); }

.floating {
  z-index: 1;
  position: absolute; }

#nightmode-toggle {
  bottom: 2em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: .5em 2em;
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: background-color 150ms ease-in, color 150ms ease-in;
  transition: background-color 150ms ease-in, color 150ms ease-in; }
  #nightmode-toggle:hover {
    background-color: white;
    color: var(--sky-night); }

#moon,
.star {
  display: none; }

#moon {
  top: 0;
  left: 0;
  -webkit-transform: translate(700%, 275%);
  transform: translate(700%, 275%); }

.star {
  z-index: 0;
  -webkit-animation-name: star-animation;
  animation-name: star-animation;
  animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 1200ms;
  animation-duration: 1200ms;
  -webkit-filter: none;
  filter: none; }

.star-color {
  fill: #969696; }

.cloud {
  -webkit-animation-name: cloud-animation;
  animation-name: cloud-animation;
  animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms; }
  .cloud:nth-of-type(1) {
    -webkit-animation-delay: 320ms;
    animation-delay: 320ms; }
  .cloud:nth-of-type(3) {
    -webkit-animation-delay: 240ms;
    animation-delay: 240ms; }

#cloud-1 {
  width: 272px;
  height: 112px;
  top: 0;
  left: 0;
  -webkit-transform: translate(150%, 200%);
  transform: translate(150%, 200%);
  background-image: url("../../assets/svg/cloud-1.svg"); }

#cloud-2 {
  width: 288px;
  height: 88px;
  top: 0;
  right: 0;
  -webkit-transform: translate(-175%, 375%);
  transform: translate(-175%, 375%);
  background-image: url("../../assets/svg/cloud-2.svg"); }

#cloud-3 {
  width: 208px;
  height: 80px;
  top: 0;
  left: 0;
  -webkit-transform: translate(300%, 800%);
  transform: translate(300%, 800%);
  background-image: url("../../assets/svg/cloud-3.svg"); }

#blocks {
  align-self: baseline;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
  -webkit-filter: contrast(115%);
  filter: contrast(115%); }
  #blocks #leaf-1 {
    grid-column: 5; }
  #blocks #leaf-3 {
    grid-column: 4; }
  #blocks #wood-1,
  #blocks #wood-2 {
    grid-column: 5 / 7; }
  #blocks #dirt-7 {
    grid-column: 2; }
  #blocks #chest {
    width: 72px;
    height: 112px;
    top: 176px;
    left: 0;
    text-align: center;
    padding: .5em .2em;
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
    background-image: url("../../assets/svg/chest-closed.svg"), url("../../assets/svg/chest-open.svg");
    background-repeat: no-repeat;
    background-position: bottom, bottom;
    clip-path: inset(40px 0px 0px 0px);
    -webkit-transition: -webkit-transform 200ms ease-in;
    transition: -webkit-transform 200ms ease-in;
    transition: transform 200ms ease-in;
    transition: transform 200ms ease-in, -webkit-transform 200ms ease-in; }
  #blocks #crazyminer {
    width: 72px;
    height: 72px;
    top: 0;
    left: 0;
    -webkit-transform: translateY(300%);
    transform: translateY(300%);
    background-image: url("../../assets/svg/crazyminer-1.svg");
    background-repeat: no-repeat;
    background-position: bottom; }

@media only screen and (max-width: 1366px) {
  #cloud-1 {
    -webkit-transform: translate(50%, 125%);
    transform: translate(50%, 125%); }
  #cloud-2 {
    -webkit-transform: translate(-75%, 300%);
    transform: translate(-75%, 300%); }
  #cloud-3 {
    -webkit-transform: translate(150%, 800%);
    transform: translate(150%, 800%); } }

@media only screen and (max-width: 830px) {
  #moon {
    -webkit-transform: translate(100%, 275%);
    transform: translate(100%, 275%); }
  #cloud-1 {
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%); }
  #cloud-2 {
    -webkit-transform: translate(-25%, 200%);
    transform: translate(-25%, 200%); }
  #cloud-3 {
    display: none; }
  #blocks {
    grid-template-columns: repeat(4, 1fr); }
    #blocks #chest {
      -webkit-transform: translateX(100%);
      transform: translateX(100%); }
    #blocks #leaf-1 {
      grid-column: 3; }
    #blocks #leaf-3 {
      grid-column: 2; }
    #blocks #wood-1,
    #blocks #wood-2 {
      grid-column: 3 / 5; }
    #blocks #dirt-5,
    #blocks #dirt-6,
    #blocks #dirt-7,
    #blocks #dirt-10 {
      display: none; }
    #blocks #dirt-3 {
      grid-row: 5;
      grid-column: 2; }
    #blocks #dirt-8 {
      grid-row: 6;
      grid-column: 2; }
    #blocks #dirt-2 {
      grid-column: 3; }
    #blocks #dirt-9 {
      grid-column: 3; } }

@media only screen and (max-width: 420px) {
  #moon {
    -webkit-transform: translate(100%, 275%);
    transform: translate(100%, 275%); }
  #cloud-1 {
    -webkit-transform: translate(25%, 25%);
    transform: translate(25%, 25%); }
  #cloud-2 {
    display: none; } }

@media only screen and (max-width: 345px) {
  #cloud-1 {
    -webkit-transform: translate(0%, 25%);
    transform: translate(0%, 25%); } }
