// 
// ::Dirt texture-colors start::
//

// Dirt 1
// Start:

.dirt-1-0 {
	fill: #6E9545;
}

.dirt-1-1 {
	fill: #6B4C38;
}

.dirt-1-2 {
	fill: #6DA045;
}

.dirt-1-3 {
	fill: #78AB4B;
}

.dirt-1-4 {
	fill: #9D7155;
}

.dirt-1-5 {
	fill: #603F2C;
}

.dirt-1-6 {
	fill: #CD986C;
}

.dirt-1-7 {
	fill: #674C36;
}

.dirt-1-8 {
	fill: #87644E;
}

.dirt-1-9 {
	fill: #79AF45;
}

.dirt-1-10 {
	fill: #6C9E3C;
}

.dirt-1-11 {
	fill: #896F4D;
}

.dirt-1-12 {
	fill: #775745;
}

.dirt-1-13 {
	fill: #7F5A45;
}

.dirt-1-14 {
	fill: #4B3727;
}

.dirt-1-15 {
	fill: #5B4335;
}

.dirt-1-16 {
	fill: #815D46;
}

.dirt-1-17 {
	fill: #B1835D;
}

.dirt-1-18 {
	fill: #6B4F3E;
}

.dirt-1-19 {
	fill: #68412C;
}

.dirt-1-20 {
	fill: #4F3829;
}

.dirt-1-21 {
	fill: #6D583D;
}

.dirt-1-22 {
	fill: #442D1F;
}

// Dirt 1
// End.

// Dirt 2
// Start:

.dirt-2-0 {
	fill: #6E9545;
}

.dirt-2-1 {
	fill: #6B4C38;
}

.dirt-2-2 {
	fill: #674C36;
}

.dirt-2-3 {
	fill: #775745;
}

.dirt-2-4 {
	fill: #9D7155;
}

.dirt-2-5 {
	fill: #CD986C;
}

.dirt-2-6 {
	fill: #6DA045;
}

.dirt-2-7 {
	fill: #78AB4B;
}

.dirt-2-8 {
	fill: #603F2C;
}

.dirt-2-9 {
	fill: #87644E;
}

.dirt-2-10 {
	fill: #79AF45;
}

.dirt-2-11 {
	fill: #6C9E3C;
}

.dirt-2-12 {
	fill: #896F4D;
}

.dirt-2-13 {
	fill: #7F5A45;
}

.dirt-2-14 {
	fill: #815D46;
}

.dirt-2-15 {
	fill: #68412C;
}

// Dirt 2
// End.

// Dirt 3
// Start:

.dirt-3-0 {
	fill: #6E9545;
}

.dirt-3-1 {
	fill: #6B4C38;
}

.dirt-3-2 {
	fill: #674C36;
}

.dirt-3-3 {
	fill: #775745;
}

.dirt-3-4 {
	fill: #9D7155;
}

.dirt-3-5 {
	fill: #CD986C;
}

.dirt-3-6 {
	fill: #6DA045;
}

.dirt-3-7 {
	fill: #78AB4B;
}

.dirt-3-8 {
	fill: #603F2C;
}

.dirt-3-9 {
	fill: #87644E;
}

.dirt-3-10 {
	fill: #79AF45;
}

.dirt-3-11 {
	fill: #6C9E3C;
}

.dirt-3-12 {
	fill: #896F4D;
}

.dirt-3-13 {
	fill: #845338;
}

.dirt-3-14 {
	fill: #7F5A45;
}

// Dirt 3
// End.

// Dirt 4
// Start:

.dirt-4-0 {
	fill: #6E9545;
}

.dirt-4-1 {
	fill: #6B4C38;
}

.dirt-4-2 {
	fill: #674C36;
}

.dirt-4-3 {
	fill: #775745;
}

.dirt-4-4 {
	fill: #9D7155;
}

.dirt-4-5 {
	fill: #CD986C;
}

.dirt-4-6 {
	fill: #6DA045;
}

.dirt-4-7 {
	fill: #78AB4B;
}

.dirt-4-8 {
	fill: #87644E;
}

.dirt-4-9 {
	fill: #896F4D;
}

.dirt-4-10 {
	fill: #603F2C;
}

.dirt-4-11 {
	fill: #79AF45;
}

.dirt-4-12 {
	fill: #6C9E3C;
}

.dirt-4-13 {
	fill: #845338;
}

.dirt-4-14 {
	fill: #7F5A45;
}

// Dirt 4
// End.

// Dirt 5
// Start:

.dirt-5-0 {
	fill: #9D7155;
}

.dirt-5-1 {
	fill: #CD986C;
}

.dirt-5-2 {
	fill: #87644E;
}

.dirt-5-3 {
	fill: #845338;
}

.dirt-5-4 {
	fill: #6B4C38;
}

.dirt-5-5 {
	fill: #896F4D;
}

.dirt-5-6 {
	fill: #603F2C;
}

.dirt-5-7 {
	fill: #674C36;
}

.dirt-5-8 {
	fill: #6E9545;
}

.dirt-5-9 {
	fill: #775745;
}

.dirt-5-10 {
	fill: #6DA045;
}

.dirt-5-11 {
	fill: #78AB4B;
}

.dirt-5-12 {
	fill: #79AF45;
}

.dirt-5-13 {
	fill: #6C9E3C;
}

.dirt-5-14 {
	fill: #7F5A45;
}

.dirt-5-15 {
	fill: #815D46;
}

.dirt-5-16 {
	fill: #442D1F;
}

.dirt-5-17 {
	fill: #4B3727;
}

// Dirt 5
// End.

// Dirt 6
// Start:

.dirt-6-0 {
	fill: #775745;
}

.dirt-6-1 {
	fill: #9D7155;
}

.dirt-6-2 {
	fill: #CD986C;
}

.dirt-6-3 {
	fill: #674C36;
}

.dirt-6-4 {
	fill: #87644E;
}

.dirt-6-5 {
	fill: #6E9545;
}

.dirt-6-6 {
	fill: #6B4C38;
}

.dirt-6-7 {
	fill: #6DA045;
}

.dirt-6-8 {
	fill: #78AB4B;
}

.dirt-6-9 {
	fill: #603F2C;
}

.dirt-6-10 {
	fill: #79AF45;
}

.dirt-6-11 {
	fill: #6C9E3C;
}

.dirt-6-12 {
	fill: #896F4D;
}

.dirt-6-13 {
	fill: #815D46;
}

.dirt-6-14 {
	fill: #6B4F3E;
}

.dirt-6-15 {
	fill: #B1835D;
}

.dirt-6-16 {
	fill: #68412C;
}

.dirt-6-17 {
	fill: #4F3829;
}

.dirt-6-18 {
	fill: #6D583D;
}

.dirt-6-19 {
	fill: #5B4335;
}

.dirt-6-20 {
	fill: #442D1F;
}

.dirt-6-21 {
	fill: #634636;
}

.dirt-6-22 {
	fill: #4B3727;
}

// Dirt 6
// End.

// Dirt 7
// Start:

.dirt-7-0 {
	fill: #9D7155;
}

.dirt-7-1 {
	fill: #896F4D;
}

.dirt-7-2 {
	fill: #87644E;
}

.dirt-7-3 {
	fill: #674C36;
}

.dirt-7-4 {
	fill: #603F2C;
}

.dirt-7-5 {
	fill: #CD986C;
}

.dirt-7-6 {
	fill: #6B4C38;
}

.dirt-7-7 {
	fill: #775745;
}

.dirt-7-8 {
	fill: #7F5A45;
}

.dirt-7-9 {
	fill: #5B4335;
}

.dirt-7-10 {
	fill: #815D46;
}

.dirt-7-11 {
	fill: #B1835D;
}

.dirt-7-12 {
	fill: #4B3727;
}

.dirt-7-13 {
	fill: #6B4F3E;
}

.dirt-7-14 {
	fill: #4F3829;
}

.dirt-7-15 {
	fill: #68412C;
}

.dirt-7-16 {
	fill: #6D583D;
}

.dirt-7-17 {
	fill: #B0754E;
}

.dirt-7-18 {
	fill: #442D1F;
}

.dirt-7-19 {
	fill: #634636;
}

// Dirt 7
// End.

// Dirt 8
// Start:

.dirt-8-0 {
	fill: #775745;
}

.dirt-8-1 {
	fill: #9D7155;
}

.dirt-8-2 {
	fill: #CD986C;
}

.dirt-8-3 {
	fill: #87644E;
}

.dirt-8-4 {
	fill: #6B4C38;
}

.dirt-8-5 {
	fill: #896F4D;
}

.dirt-8-6 {
	fill: #674C36;
}

.dirt-8-7 {
	fill: #603F2C;
}

.dirt-8-8 {
	fill: #7F5A45;
}

.dirt-8-9 {
	fill: #5B4335;
}

.dirt-8-10 {
	fill: #815D46;
}

.dirt-8-11 {
	fill: #B1835D;
}

.dirt-8-12 {
	fill: #4B3727;
}

.dirt-8-13 {
	fill: #6B4F3E;
}

.dirt-8-14 {
	fill: #4F3829;
}

.dirt-8-15 {
	fill: #68412C;
}

.dirt-8-16 {
	fill: #6D583D;
}

.dirt-8-17 {
	fill: #B0754E;
}

.dirt-8-18 {
	fill: #442D1F;
}

.dirt-8-19 {
	fill: #634636;
}

// Dirt 8
// End.

// Dirt 9
// Start:

.dirt-9-0 {
	fill: #775745;
}

.dirt-9-1 {
	fill: #9D7155;
}

.dirt-9-2 {
	fill: #CD986C;
}

.dirt-9-3 {
	fill: #87644E;
}

.dirt-9-4 {
	fill: #6B4C38;
}

.dirt-9-5 {
	fill: #674C36;
}

.dirt-9-6 {
	fill: #896F4D;
}

.dirt-9-7 {
	fill: #7F5A45;
}

.dirt-9-8 {
	fill: #5B4335;
}

.dirt-9-9 {
	fill: #815D46;
}

.dirt-9-10 {
	fill: #B1835D;
}

.dirt-9-11 {
	fill: #4B3727;
}

.dirt-9-12 {
	fill: #6B4F3E;
}

.dirt-9-13 {
	fill: #4F3829;
}

.dirt-9-14 {
	fill: #68412C;
}

.dirt-9-15 {
	fill: #6D583D;
}

.dirt-9-16 {
	fill: #6C7D81;
}

.dirt-9-17 {
	fill: #442D1F;
}

.dirt-9-18 {
	fill: #B0754E;
}

.dirt-9-19 {
	fill: #634636;
}

// Dirt 9
// End.

// Dirt 10
// Start:

.dirt-10-0 {
	fill: #6B4C38;
}

.dirt-10-1 {
	fill: #674C36;
}

.dirt-10-2 {
	fill: #775745;
}

.dirt-10-3 {
	fill: #9D7155;
}

.dirt-10-4 {
	fill: #CD986C;
}

.dirt-10-5 {
	fill: #87644E;
}

.dirt-10-6 {
	fill: #896F4D;
}

.dirt-10-7 {
	fill: #603F2C;
}

.dirt-10-8 {
	fill: #5B4335;
}

.dirt-10-9 {
	fill: #815D46;
}

.dirt-10-10 {
	fill: #B1835D;
}

.dirt-10-11 {
	fill: #4B3727;
}

.dirt-10-12 {
	fill: #6B4F3E;
}

.dirt-10-13 {
	fill: #4F3829;
}

.dirt-10-14 {
	fill: #68412C;
}

.dirt-10-15 {
	fill: #6D583D;
}

.dirt-10-16 {
	fill: #B0754E;
}

.dirt-10-17 {
	fill: #442D1F;
}

.dirt-10-18 {
	fill: #634636;
}

// Dirt 10
// End.

// 
// ::Dirt texture-colors end::
//
