//
// ::Wood texture-colors start::
//

// Wood 1
// Start:

.wood-1-0 {
	fill: #3A2D1A;
}

.wood-1-1 {
	fill: #41351F;
}

.wood-1-2 {
	fill: #3B2F17;
}

.wood-1-3 {
	fill: #3E311E;
}

.wood-1-4 {
	fill: #453825;
}

.wood-1-5 {
	fill: #6B5432;
}

.wood-1-6 {
	fill: #64502D;
}

.wood-1-7 {
	fill: #6E5A39;
}

.wood-1-8 {
	fill: #3D331A;
}

.wood-1-9 {
	fill: #6A5635;
}

.wood-1-10 {
	fill: #9A7A4B;
}

.wood-1-11 {
	fill: #403320;
}

.wood-1-12 {
	fill: #9A774D;
}

.wood-1-13 {
	fill: #3F331D;
}

.wood-1-14 {
	fill: #705C3B;
}

.wood-1-15 {
	fill: #957346;
}

.wood-1-16 {
	fill: #413421;
}

.wood-1-17 {
	fill: #695532;
}

.wood-1-18 {
	fill: #433323;
}

.wood-1-19 {
	fill: #927144;
}

.wood-1-20 {
	fill: #6D5938;
}

.wood-1-21 {
	fill: #3F3221;
}

.wood-1-22 {
	fill: #382B18;
}

.wood-1-23 {
	fill: #6A5536;
}

.wood-1-24 {
	fill: #695534;
}

.wood-1-25 {
	fill: #987A46;
}

.wood-1-26 {
	fill: #6D5634;
}

.wood-1-27 {
	fill: #9B7B4A;
}

.wood-1-28 {
	fill: #3F2F1F;
}

.wood-1-29 {
	fill: #9B7949;
}

.wood-1-30 {
	fill: #6B5736;
}

.wood-1-31 {
	fill: #463926;
}

.wood-1-32 {
	fill: #675332;
}

.wood-1-33 {
	fill: #967645;
}

.wood-1-34 {
	fill: #423522;
}

.wood-1-35 {
	fill: #7C623F;
}

.wood-1-36 {
	fill: #40341E;
}

.wood-1-37 {
	fill: #3A2D1C;
}

.wood-1-38 {
	fill: #6E5B3B;
}

.wood-1-39 {
	fill: #9A7A49;
}

.wood-1-40 {
	fill: #392C1B;
}

.wood-1-41 {
	fill: #665231;
}

.wood-1-42 {
	fill: #6A5737;
}

.wood-1-43 {
	fill: #5F4B30;
}

.wood-1-44 {
	fill: #6C5837;
}

.wood-1-45 {
	fill: #685433;
}

.wood-1-46 {
	fill: #7C623D;
}

.wood-1-47 {
	fill: #4C3D28;
}

.wood-1-48 {
	fill: #967844;
}

.wood-1-49 {
	fill: #403322;
}

// Wood 1
// End

// Wood 2
// Start:

.wood-2-0 {
	fill: #3A2D1A;
}

.wood-2-1 {
	fill: #41351F;
}

.wood-2-2 {
	fill: #3B2F17;
}

.wood-2-3 {
	fill: #3E311E;
}

.wood-2-4 {
	fill: #453825;
}

.wood-2-5 {
	fill: #6B5432;
}

.wood-2-6 {
	fill: #6E5A39;
}

.wood-2-7 {
	fill: #3D331A;
}

.wood-2-8 {
	fill: #6A5635;
}

.wood-2-9 {
	fill: #9A7A4B;
}

.wood-2-10 {
	fill: #927144;
}

.wood-2-11 {
	fill: #6D5938;
}

.wood-2-12 {
	fill: #3F3221;
}

.wood-2-13 {
	fill: #382B18;
}

.wood-2-14 {
	fill: #9A774D;
}

.wood-2-15 {
	fill: #7C623F;
}

.wood-2-16 {
	fill: #40341E;
}

.wood-2-17 {
	fill: #675332;
}

.wood-2-18 {
	fill: #382D19;
}

.wood-2-19 {
	fill: #3F321E;
}

.wood-2-20 {
	fill: #14100A;
}

.wood-2-21 {
	fill: #6E5537;
}

.wood-2-22 {
	fill: #131009;
}

.wood-2-23 {
	fill: #443824;
}

.wood-2-24 {
	fill: #695131;
}

.wood-2-25 {
	fill: #15110B;
}

.wood-2-26 {
	fill: #3D321D;
}

.wood-2-27 {
	fill: #17120C;
}

.wood-2-28 {
	fill: #3E3220;
}

.wood-2-29 {
	fill: #3D321E;
}

.wood-2-30 {
	fill: #6C5732;
}

.wood-2-31 {
	fill: #6E5736;
}

.wood-2-32 {
	fill: #120E09;
}

.wood-2-33 {
	fill: #41341F;
}

.wood-2-34 {
	fill: #6F5835;
}

.wood-2-35 {
	fill: #130E0A;
}

.wood-2-36 {
	fill: #6F5734;
}

.wood-2-37 {
	fill: #3F3320;
}

.wood-2-38 {
	fill: #1A150E;
}

.wood-2-39 {
	fill: #3B301D;
}

.wood-2-40 {
	fill: #413522;
}

.wood-2-41 {
	fill: #6A5431;
}

.wood-2-42 {
	fill: #16120C;
}

.wood-2-43 {
	fill: #0E0B07;
}

.wood-2-44 {
	fill: #3F331D;
}

.wood-2-45 {
	fill: #6E5B3B;
}

.wood-2-46 {
	fill: #9A7A49;
}

.wood-2-47 {
	fill: #423522;
}

.wood-2-48 {
	fill: #392C1B;
}

.wood-2-49 {
	fill: #665231;
}

.wood-2-50 {
	fill: #6A5737;
}

.wood-2-51 {
	fill: #3A2D1C;
}

.wood-2-52 {
	fill: #5F4B30;
}

.wood-2-53 {
	fill: #6C5837;
}

.wood-2-54 {
	fill: #685433;
}

.wood-2-55 {
	fill: #7C623D;
}

.wood-2-56 {
	fill: #4C3D28;
}

.wood-2-57 {
	fill: #967844;
}

.wood-2-58 {
	fill: #403322;
}

.wood-2-59 {
	fill: #6B5736;
}

// Wood 2
// End.

//
// ::Wood texture-colors end::
//